In [73]:
import pandas as pd
import numpy as np

In [74]:
data=pd.read_csv(R"titanic.csv")
data.head(1)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.25,NaN,S,0

In [75]:
data=data.drop(['PassengerId','Name','Ticket','SibSp','Cabin','Embarked','Parch'],axis=1)
data.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [76]:
data.isnull().sum()

Pclass        0
Sex           0
Age         177
Fare          0
Survived      0
dtype: int64

In [77]:
data['Age']=data['Age'].fillna(data['Age'].mean())

In [78]:
data.isnull().sum()

Pclass      0
Sex         0
Age         0
Fare        0
Survived    0
dtype: int64

In [79]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['Sex']=le.fit_transform(data['Sex'])

In [80]:
from sklearn.model_selection import train_test_split
y=data['Survived']
xtrain,xtest,ytrain,ytest=train_test_split(data.drop(['Survived'],axis=1),y,train_size=.8)

In [81]:
from sklearn.naive_bayes import GaussianNB

model=GaussianNB()

In [82]:
model.fit(xtrain,ytrain)

GaussianNB()

In [83]:
model.score(xtest,ytest)

0.7821229050279329

In [84]:
ytest[:10]

583    0
339    0
721    0
491    0
419    0
675    0
393    1
443    1
323    1
324    0
Name: Survived, dtype: int64

In [85]:
model.predict(xtest[:10])

array([0, 0, 0, 0, 1, 0, 1, 1, 1, 0], dtype=int64)